'name': 'dash'
'scopeName': 'source.dash'
'fileTypes': [
  'dash'
  'rset'
]
'patterns': [

  { # Block Comment
    'match': '/\\*.*\\*/'
    'name': 'comment.block'
  }
  { # Comment line
    'match': '(//.*)'
    'name': 'comment.line.double-slash'
  }
  {
    'match': '(?<=\\s)(\\-?\\d+)(?=[\\)\\s])'
    'name': 'constant.numeric.integer'
  }
  {
    'match': '(?<=\\s)(\\-?\\d+\\.\\d+)(?=[\\)\\s])'
    'name': 'constant.numeric'
  }
  { # String quoted by double-quotation
    'match': '(\".*?\")'
    'name': 'string.quoted.double'
  }
  { # Attribute of OVA format data
    'match': '(?<=:)[\\w\\-]+(?=[\\s\\)])'
    'name': 'entity.name.type'
  }
  { # Variable
    'match': '(?<=\\?)[\\w\\-]+(?=[\\)\\s])'
    'name': 'variable'
  }
  { # Variable combined with attribute
    'match': '(?<=\\?)[\\w\\-]+(?=\\:[\\w\\-]+[\\)\\s])'
    'name': 'variable'
  }
  { # Reserved Constant
    'match': '(?<=\\s)(__INIT_I|__INIT_C|__INIT_R|__Event|__Alarm|_broadcast|_default)(?=[\\)\\s])'
    'name': 'support.constant'
  }
  { # Reserved Constant for inspect action
    'match': '(?<=inspect\\s)(nonstop)(?=\\))'
    'name': 'support.constant'
  }
  { # Reserved Constant for terminate action
    'match': '(?<=terminate\\s:at\\s)(now)(?=\\))'
    'name': 'support.constant'
  }
  { # Reserved Constant for alarm action
    'match': '(?<=alarm\\s:cancel\\s)(all)(?=\\))'
    'name': 'support.constant'
  }
  { # Operator defined in dash
    'match': '(?<=\\()\\s*[\\-\\+\\*/%]\\s+'
    'name': 'keyword.operator'
  }
  { # Comparison Operator defined in dash
    'match': '(?<=\\()\\s*(==|!=|>|>=|<|<=)\\s+'
    'name': 'keyword.operator'
  }
  { # Builtin function in dash
    'match': '(?<=\\()\\s*(sleep|alarm|print|settext|inspect|loadBP|startBP|control|method|terminate|move|instantiate|activate|print|make|modify|Modify|make|Make|remove|removeall|delete|pack|expand|bind|current-time|exists|lookup|toString|pop|push|unshift|shift|append|size|broadcast|fetchall|send|reply)\\b'
    'name': 'support.function'
  }
  { # Agent Primitive
     'match': '(?<=\\()\\s*(agent|knowledge|rule-set|rule|initial_facts|property|function|Status|create|include|comment|Msg)\\b'
     'name': 'support.class'
  }
]
