'.source.dash':
  autocomplete:
    symbols:
      class:
        suggestions: [
          'agent'
          'knowledge'
          'rule-set'
          'rule'
          'initial_facts'
          'property'
          'function'
          'comment'
          'create'
          'include'
          'Msg'
        ]
      builtin:
        suggestions: [
          'sleep'
          'alarm'
          'print'
          'settext'
          'inspect'
          'loadBP'
          'startBP'
          'control'
          'method'
          'terminate'
          'move'
          'instantiate'
          'activate'
          'print'
          'make'
          'modify'
          'Modify'
          'make'
          'Make'
          'remove'
          'removeall'
          'delete'
          'pack'
          'expand'
          'bind'
          'current-time'
          'exists'
          'lookup'
          'toString'
          'pop'
          'push'
          'unshift'
          'shift'
          'append'
          'size'
          'broadcast'
          'fetchall'
          'send'
          'reply'
        ]
      constant:
        suggestions: [
          '__INIT_I'
          '__INIT_C'
          '__Event'
          '__Alarm'
          '_broadcast'
        ]
