'.source.dash':
  editor:
    commentStart: '// '
    increaseIndentPattern: '^.*\\([^\\)]*$'
    decreaseIndentPattern: '^\\s*\\)\\s*$'
    foldEndPattern: '(\\*/|^\\s*\\))'
    unIndentedLinePattern: '^\\s*((/\\*|\\*/\\s*$|//).*)?$'

  autocomplete:
    symbols:
      class:
        suggestions: [
          {
            type: "class"
            rightLabel: "Predefined agent class"
            snippet: "agent ${1:@AgentName}$0"
            description: """
            エージェント一体のクラス

            :param AgentName エージェントの名前 （dashファイルの名前と一致する必要あり）
            """
            descriptionMoreURL: "http://www.k.riec.tohoku.ac.jp/idea/html/lang.html#3.1"
          }
          {
            type: "class"
            rightLabel: "Predefined agent class"
            snippet: "function :word \"${1:@functionName}\"$0"
            description: """
            ネームサーバでlookupコマンド利用してエージェントを検索する際のエージェントが持つ機能情報の定義．
            エージェントの機能名が、 function-wordで指定した文字列を含む場合にマッチする (機能名は、(property ..)内の(funciton :word ...)で指定する)。

            :param @functionName エージェントの機能名の文字列
            """
            descriptionMoreURL: "http://www.k.riec.tohoku.ac.jp/idea/html/action.html#lookup"
          }
          {
            type: "class"
            rightLabel: "Predefined agent class"
            snippet: "comment  :text \"${1:@comment}\"$0"
            description: "ネームサーバでlookupコマンド利用してエージェントを検索する際のエージェントのコメント情報の定義．コメント: エージェントのコメントが、 comment-textで指定した文字列を含む場合にマッチする (機能名は、(property ..)内の(comment :text ...)で指定する)。"
            descriptionMoreURL: "http://www.k.riec.tohoku.ac.jp/idea/html/action.html#lookup"
          }
          # 'agent'
          # 'knowledge'
          {
            type: "class"
            rightLabel: "Predefined agent class"
            snippet: "knowledge ${1:@rules}$0"
            description: """
            すべてのエージェントが持つルールセット。ここに記述されたルールは"_delaut"という名前のルールセットに属することになる。また、エージェント起動時にアクティブになっているルールセットでもある。

            :param @rules ルールセットに属するrule。複数記述可能。
            """
            descriptionMoreURL: "http://www.k.riec.tohoku.ac.jp/idea/html/lang.html#3.6"
          }
          # 'rule-set'
          {
            type: "class"
            rightLabel: "Predefined agent class"
            snippet: "rule-set \"${1:@ruleSetName}\" (property ()) (initial_facts ()) ${2:@rules}$0"
            description: """
            ルールをグループ化するためのクラス。ルールセットでグループ化されたルールはactivateアクションでアクティブにすることで実行が可能。どのグループにも属していないルールは_defaultグループに入る。
            ルールセットの中で記述したpropertyとinitial_factsは、knowledgeの前に記述したものと区別なく扱われる。
            
            :param @ruleSetName ルールセット名。他のルールセットと重複してはいけない。
            :param @rules ルールセットに属するrule。複数記述可能。
            """
            descriptionMoreURL: "http://www.k.riec.tohoku.ac.jp/idea/html/lang.html#3.6"
          }
          # 'rule'
          {
            type: "class"
            rightLabel: "Predefined agent class"
            snippet: "rule \"${1:@ruleName}\" ${2:@condition_part} -> ${3:action_part}$0"
            description: """
            ルールを記述するためのクラス。条件部の条件をすべて満たした場合にアクション部を記述順に実行する。

            :param @ruleName ルール名。他のルールと重複してはいけない。
            :param @condition_part 条件部。
            :param @action_part アクション部。
            """
            descriptionMoreURL: "http://www.k.riec.tohoku.ac.jp/idea/html/lang.html#3.7"
          }
          # 'initial_facts'
          {
            type: "class"
            rightLabel: "Predefined agent class"
            snippet: "initial_facts ${1:@OAV}$0"
            description: """
            エージェント起動時に保持する情報を記述するためのクラス。情報はOAV型のデータで記述する。propertyクラスとは違い、アクションによって変更や削除が可能なファクトとなる。複数のOAV型のデータを記述する場合は、(initial_facts OAVdata1 OAVdata2 ...)のように記述する。

            :param @OAV OAV型のデータ。
            """
            descriptionMoreURL: "http://www.k.riec.tohoku.ac.jp/idea/html/lang.html#3.5"
          }
          # 'property'
          {
            type: "class"
            rightLabel: "Predefined agent class"
            snippet: "property ${1:@OAV}$0"
            description: """
            エージェント固有の情報を記述するためのクラス。情報はOAV型のデータで記述する。ここに記述された情報は変更や削除ができないファクトになる。複数のOAV型のデータを記述する場合は、(property OAVdata1 OAVdata2 ...)のように記述する。

            :param @OAV OAV型のデータ。
            """
            descriptionMoreURL: "http://www.k.riec.tohoku.ac.jp/idea/html/lang.html#3.4"
          }
          # 'create'
          # 'create :author \"authorName\"'
          # 'Msg'
          # 'Msg :performative perfName :content ()'
          # 'rule ruleName\n\t\t(condition)\n\t\t-->\n\t\t(action)\n'
        ]
      builtin:
        suggestions: [
          # (4)メッセージに関するアクション
          {
            type: "function"
            rightLabel: "Builtin action"
            snippet: "send :performative ${1:@perfName} :to ${2:@agName} :content (${3:@contVar})$0"
            description: """
            メッセージを送信する。送信は次のアクションに進む前に行われる。

            :param @perfName パフォーマティブ 定数あるいは、これをバインドした変数・参照。
            :param @agName 送信先のエージェント名。
            :param @contVar メッセージの中身 OAV型データ・リスト、あるいはこれらをバインドした変数・参照。
            """
            descriptionMoreURL: "http://www.k.riec.tohoku.ac.jp/idea/html/action.html#send"
          }
          {
            type: "function"
            rightLabel: "Builtin action"
            snippet: "reply :performative ${1:@perfName} :to ${2:@msgVar} :content ${3:@contVar}$0"
            description: """
            メッセージmsgVarに対する返信メッセージを送信する。 送信は次のアクションに進む前に行われる。

            :param @perfName パフォーマティブ 定数あるいは、これをバインドした変数・参照。
            :param @msgVar 返信するメッセージ。（(Msg...)で表現されるOAV型のデータ）。
            :param @contVar メッセージの中身 OAV型データ・リスト、あるいはこれらをバインドした変数・参照。
            """
            descriptionMoreURL: "http://www.k.riec.tohoku.ac.jp/idea/html/action.html#reply"
          }
          {
            type: "function"
            rightLabel: "Builtin action"
            snippet: "broadcast :performative ${1:@perfName} :departure ?depVar :content ${3:@contVar}$0"
            description: """
            メッセージをワークプレース上に存在するすべてのエージェントに送信する。 送信は次のアクションに進む前に行われる。

            :param @perfName パフォーマティブ 定数あるいは、これをバインドした変数・参照。
            :param @depVar 送信先のワークレース（例：w1:matsumura-PC）。アクションを起こすエージェントと同じワークプレースであれば省略可能。
            :param @contVar メッセージの中身 OAV型データ・リスト、あるいはこれらをバインドした変数・参照。
            """
            descriptionMoreURL: "http://www.k.riec.tohoku.ac.jp/idea/html/action.html#broadcast"
          }
          {
            type: "function"
            rightLabel: "Builtin action"
            snippet: "fetchall$0"
            description: "メッセージキューにあるすべてのメッセージをファクトとしてワーキングメモリに生成する。"
            descriptionMoreURL: "http://www.k.riec.tohoku.ac.jp/idea/html/action.html#fetchall"
          }
          # (7)ルールセット
          {
            type: "function"
            rightLabel: "Builtin action"
            snippet: "activate ${1:@ruleSetVar}$0"
            description: """
            指定したルールセットをアクティブにする。アクティブにできるルールセットは以下の3つである。
            (1)dashファイルの中で宣言したルールセット。
            (2)includeアクションで読み込んだrsetファイル。
            (3)_defaultルールセット。ルールセットで囲まれていないルールはすべてこのルールセットに入る。
            複数のルールセットをアクティブにするには(ruleSetVar1 ruleSetVar2 ...)のようにリストにする。ルールセット間の優先度はリストの記述順になる。

            :param @ruleSetVar 活性化するルールセット名、あるいはそのリスト。
            """
            descriptionMoreURL: "http://www.k.riec.tohoku.ac.jp/idea/html/action.html#activate"
          }
          {
            type: "function"
            rightLabel: "Builtin action"
            snippet: "include :file ${1:@filename} :from ${2:@envName} :when ${2:@letter}$0"
            description: """
            ルールセット(ファイルの拡張子が.rsetのファイル)を読みこみ利用可能にする。 読みこむファイル名はfilenameで指定する。

            :param @filename 読みこみ可能にするファイルのファイル名（例：Hogehoge.rset）。
            :param @envName 読みこみ先の場所。名前:ホスト名の形式で記述する。省略可。
            :param @letter 読みこみの制御。省略可（省略した場合はエージェントがどんな環境でもルールセットを読みこみ可能にする）。
            """
            descriptionMoreURL: "http://www.k.riec.tohoku.ac.jp/idea/html/action.html#include"
          }
          {
            type: "function"
            rightLabel: "Builtin action"
            snippet: "lookup :name ${1:@AgentName} :environment ${2:@envName}$0"
            description: "指定した条件にマッチするエージェント名を返す。 lookupを実行すると、エージェントはネームサーバに問い合わせを行う。 そのため、ネームサーバを使わない場合にはlookupを使うことはできない。"
            descriptionMoreURL: "http://www.k.riec.tohoku.ac.jp/idea/html/action.html#lookup"
          }
          {
            type: "function"
            rightLabel: "Builtin action"
            snippet: "lookup :name ${1:@AgentName} :environment ${2:@envName} :type ${3:@typeName}$0"
            description: "指定した条件にマッチするエージェント名を返す。 lookupを実行すると、エージェントはネームサーバに問い合わせを行う。 そのため、ネームサーバを使わない場合にはlookupを使うことはできない。"
            descriptionMoreURL: "http://www.k.riec.tohoku.ac.jp/idea/html/action.html#lookup"
          }
          {
            type: "function"
            rightLabel: "Builtin action"
            snippet: "alarm :at ${1:@time} :content (${2:@content})$0"
            description: "時刻\"HH:MM:SS\"という形式で指定した時間にcontentのファクトを生成"
            descriptionMoreURL: "http://www.k.riec.tohoku.ac.jp/idea/html/action.html#alarm"
          }
          {
            type: "function"
            rightLabel: "Builtin action"
            snippet: "alarm :after ${1:@milliSeconds} :content (${2:@content})$0"
            description: "指定した時間(単位msec)後にファクトを生成する。"
            descriptionMoreURL: "http://www.k.riec.tohoku.ac.jp/idea/html/action.html#alarm"
          }
          {
            type: "function"
            rightLabel: "Builtin action"
            snippet: "+ {1:@Argument1} ${2:@Argument2}$0"
            description: "和を求める。 数値はdoubleではなく大きい10進数(java.math.BigDecimal)で計算される。"
            descriptionMoreURL: "http://www.k.riec.tohoku.ac.jp/idea/html/action.html#op"
          }
          # 'sleep'
          # 'alarm'
          # 'print'
          # 'settext'
          # 'inspect'
          # 'inspect nonstop'
          # 'loadBP'
          # 'startBP'
          # 'control'
          # 'method'
          # 'terminate'
          # 'move'
          # 'instantiate'
          # 'activate'
          # 'print'
          # 'make'
          # 'modify'
          # 'Modify'
          # 'make'
          # 'Make'
          # 'remove'
          # 'removeall'
          # 'delete'
          # 'pack'
          # 'expand'
          # 'bind'
          # 'bind ?var value'
          # 'current-time'
          # 'exists'
          # 'lookup'
          # 'toString'
          # 'pop'
          # 'push'
          # 'unshift'
          # 'shift'
          # 'append'
          # 'size'
          # 'broadcast'
          # 'fetchall'
          # 'reply'
          # 'make (FACTNAME :attr VALUE)'
          # 'remove ?var'
          # 'modify ?var:attr NEWVALUE'
          # 'delete FACTNAME'
          # 'bind ?var VALUE'
          # '+ arg1 arg2'
          # '\- arg1 arg2'
          # '\* arg1 arg2'
          # '/ arg1 arg2'
          # '% arg1 arg2'
          # 'push value ?arg'
          # 'pop ?arg'
          # 'loadBP CLASSNAME'
          # 'control METHODNAME (ARG)'
          # 'alarm :every MSEC :contentnt ()'
          # 'alarm :cancel ALARMID'
          # 'instantiate :into workplace :facts factlist'
          # 'instantiate :from repository :name agent :facts factlist'
        ]
      constant:
        suggestions: [
          '__INIT_I'
          '__INIT_C'
          '__Event'
          '__Alarm'
          '_broadcast'
          '_interface'
          '_default'
        ]
